<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExampleComponents" Directory="INSTALLFOLDER">
      <Component Id="MainComponent">
        <File Source="ExampleComponents.wxs" />
      </Component>
		<Component Id="AdditionalFiles">
			<File Source="Files\Notes.txt" />
		</Component>
    </ComponentGroup>
  </Fragment>
</Wix>
