<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Id="TODO_Manufacturer.MsiPackage2" Name="MsiPackage2" Manufacturer="TODO Manufacturer" Version="1.0.0">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
	  <MediaTemplate EmbedCab="yes"
					 CompressionLevel="high"/>
	  <Property Id="INSTALLFOLDER"
				Secure="yes"/>
    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
